<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>List of customers</h2>

<table>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <tr th:each="cust : ${cust}">
        <td>${cust.id}</td>
        <td>${cust.first_name}</td>
        <td>${cust.last_name}</td>
    </tr>
</table>
</body>
</html>